asgiref
backcall
decorator
django-cors-headers
django-extensions
django-filter
djangorestframework
importlib-metadata
jedi
Markdown
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pytz
six
sqlparse
toml
traitlets
typing-extensions
wcwidth
zipp
python-environ
# mysqlclient
Django
psycopg2-binary
ipdb
